@import "../../_variables";

.description {
    padding: 1.5rem;

    @include largeScreen() {
        padding:  1.6rem 4rem;
    }

    @media screen and (min-width: 1300px) {
        padding: 6rem 4rem;
    }

    h1 {
        font-weight: 700;
        color: $black;
        font-size: 2rem;

    }

    p {
        color: $darkGray;
        font-size: .8rem;
        line-height: 1.1rem;
        margin-bottom: 1rem;
    }

    a {
        display: inline-block;
        text-decoration: none;
        letter-spacing: .5rem;
        color: $veryDarkGray;

        &:hover {
            border-bottom: 1px solid;
        }
    }

    .reveal[class*="reveal-"]{
        opacity: 0 !important;
        transform: translateY(10px) !important;
        transition: 0s !important;
    }
      
    [class*="reveal-"]{
        transition: 2s cubic-bezier(.5, 0, 0, 1);
    }
    
    .reveal-2{
        transition-delay: .4s;
    }

    .revealLink[class*="revealLink-"]{
        opacity: 0 !important;
        transform: translateX(50px) !important;
        transition: 0s !important;
    }
      
    [class*="revealLink-"]{
        transition: 2s cubic-bezier(.5, 0, 0, 1);
    }
    
    .revealLink-2{
        transition-delay: .4s;
    }
}