@import "../../_variables";

.header {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    @include largeScreen() {
        justify-content: flex-start;
    }
    

    &-logo {
        order: 2;
        margin-right: auto;

        @include largeScreen() {
            margin-right: 0;
        }
    }
    
    &-menu {
        display: flex;
        align-items: center;
        margin-right: auto;
        

        @include largeScreen() {
            margin-right: 0;
            order: 2;
        }

        .icon-open {
            height: 1rem;
            cursor: pointer;

            @include largeScreen() {
                display: none;
            }
        }

       

        &-nav {
            align-items: center;
            display: none;
            position: fixed;
            background-color: $white;
            top: 0;
            right: 0;
            left: 0;
            padding: 2rem 1rem;

            &.show-nav {
                display: flex;
            }

            @include largeScreen() {
                display: block;
                position: static;
                background: none;
                padding: 0;
            }


            .icon-close {
                height: 1.1rem;
                cursor: pointer;

                @include largeScreen() {
                    display: none;
                }
            }

            & ul {
                display: flex;
                list-style: none;
                justify-content: space-between;
                width: 100%;


                & li {

                    @include largeScreen() {
                        margin: 0 .5rem;
                    }

                    & a {
                        text-decoration: none;
                        color: $black;
                        font-weight: 700;
                        // display: inline-block;
                        padding-bottom: .1rem;

                        &:hover {
                            border-bottom: 2px solid $white;

                        }

                        @include largeScreen() {
                            color: $white;
                        }
                    }
                }

                
            }
        }

        .bg-modal {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4); 


            &.show-nav{
                display: block;

                @include largeScreen() {
                    display: none;
                }
            }
        }
    }
}